<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main_2.css">
</head>
<body>
<ul>
    <li>
        <a href="/">ГлАвНаЯ сТрАнИцА</a>
    </li>
    <li>
        <a href="/contacts/">Контакты</a>
    </li>
    <li>
        <a href="/result/">Результат парсера Игровых ПК на базе intel i5</a>
    </li>
</ul>
Телефон: <p class="alert"> &*^%$#@!#$%^& </p>
<hr>
<br>
Разработчик: <p class="alert"> {{name}} </p>
<hr>
<br>
Дата создания: <p class="alert"> {{creation_date}} </p>

</body>
</html>